<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>💫 KYC Document Scanner</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav class="navbar">
  <div class="logo">
    <a href="{{ url_for('landing') }}" style="text-decoration:none; color: inherit;">KYC Verifier</a>
  </div>
  <ul class="nav-links">
    <div class="nav-left-menu">
      <li><a href="{{ url_for('aboutus') }}#aboutus">About US</a></li>
      <li><a href="{{ url_for('landing') }}#how">How It Works</a></li>
    </div>
    <li>
      <button id="darkModeToggle" style="padding:6px 12px; border-radius:8px; font-size:0.9rem;">🌙 Dark Mode</button>
    </li>
  </ul>
  </nav>



  {% block content %}
  {% endblock %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
</body>
</html>
